<html>
    <head>
        <title>
            Test
        </title>
    </head>
    <body>
        <h1>Hello</h1>
        <p>hello click the button</p>
        <p>'generate_button_goes_here'</p>
        <p>service 2 randomly generated this number:  {{ int_one }}</p>
        <p>service 3 randomly generated this number: {{ int_two }}</p>
        <p>service 4 added those numbers to get: {{ total }}</p>
        <p>service 4 added these numbers together, and stored it in the database:</p>
        <hr>
        <table>
            <th>number 1</th>
            <th>number 2</th>
            <th>number 3</th>
            {% for item in previous_records %}
            <tr>
                <td>{{ previous_records[item][0] }}</td>
                <td>{{ previous_records[item][1] }}</td>
                <td>{{ previous_records[item][2] }}</td>
            </tr>
            {% endfor %}
        </table>       
        <hr>
        <p>version: {{ version }}</p>
    </body>
</html>
